<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test" parallel="tests" thread-count="2">
    <test name="myTest1">
        <parameter name="browserTipi" value="chrome"></parameter>
        <classes>
            <class name="Gun04._03_Soru">
            </class>
        </classes>
    </test>

    <test name="myTest2">
        <parameter name="browserTipi" value="firefox"></parameter>
        <classes>
            <class name="Gun04._03_Soru">
            </class>
        </classes>
    </test>

</suite>